/*Reset do CSS*/
*{
    margin: 0 ;
    padding :0;
    box-sizing:border-box;
}

/*Configurações Gerais*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 2.6px;
    font-family: oblique;
}

header {
    background-color: rgb(188, 148, 192);
    color: rgb(240, 238, 238);
    font-style: oblique;
    padding: 40px;
    text-align: center;
}

main{
    background-color: rgb(235, 232, 232);
   flex: 1;
   padding: 48px 38px;
   width: 100%;
}

#titulo-sobre-mim {
    font-size: 19px;
    width:100%;
    background-color: rgb(212, 194, 214);
    font-style: oblique;
    border-bottom: 2px solid rgb(161, 122, 161);
    margin-bottom: 12px;
    
}
about-section{
    display: block;
    background-color: rgb(212, 194, 214);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
}
.texto-sobre-mim{
    font-size: 30px;
    width: 100%;
    background-color: white;
    font-style: oblique;
}
#titulo-hobbies{
    border-bottom: 2px solid rgb(141, 114, 141);
    margin-bottom: 12px;
}
hobbies {
    display: block;
    background-color: rgb(211, 197, 212);
    width:80;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li{
    background-color: rgb(168, 144, 189);
    padding: 12px;
    border-left: 4px solid rgb(125, 93, 138);
    font-size:16px;
    min-width: 200px;
}
li:hover{
    background-color: rgb(141, 113, 146); 
    transform: translateX(5px) ;
    transition: all 0.3s ease;
}

contact{ display: block;
    background-color: rgb(211, 197, 212);
    width:80;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
    margin-top: 40px;
}
contact h2{
    margin-bottom: 8px;
    font-size: 20px;
    text-align: center;
}

 contact p{
    text-align: center;
    font-size: 19px;
 }
 contact a{
    color:rgba(116, 83, 146, 0.842);
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid rgba(116, 83, 146, 0.842);
    border-radius: 25px;
    display: inline-block;
 }
 contact a:hover{
    background-color:rgb(141, 113, 146); 
    color: white;
    transform: translateX(-2px) ;
    transition: all 0.3s ease;
}
footer{
    background-color:rgb(211, 197, 212);
    color:white;
    text-align: center;
    padding: 2rem;
    width: 100%;
}
footer p{
    font-size: 0.9rem;
}